/log
/f_log
/data
.vscode

/cnn/figure
/cnn/logs
/cnn/result
/cnn/weight

**/__pycache__/
/lorenz96/figures
/lorenz96/log
/lorenz96/result
/lorenz96/save_models
/lorenz96/lorenz96_ftmle.ipynb

/ffesn/result
/ffesn/save_models
/ffesn/fashion_mnist_accuracy.ipynb
/ffesn/log